body {
    margin: 0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
}

header {
    width: 78%;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: center;
    margin-top: 30px;
}

.lien_logo {
    position: absolute;
    left: 0;
    top: 0;
}

main {
    margin-top: 150px;
}

.title {
    color: rgb(127, 37, 32);
    position: absolute;
    right: 3em;
    top: 0.5em;
}

#bloc_main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.photographers {
    color: rgb(197, 94, 69);
}

.bloc_photographer {
    width: auto;
}

.bloc_photographers_tags {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.photographers_tags {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0.3em;
    color: rgb(127, 37, 32);
    border: 0.1px solid black;
    border-radius: 30px;
}

.lien_tag_photographe_selected {
    background-color: rgb(127, 37, 32);
    color: white;
}

#contenu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: #d3573c;
    width: 7%;
    display: none;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.contenuCache {
    display: none;
}

.contenuDynamic {
    display: flex !important;
}

.lien_tag_photographe {
    margin-top: 15px;
}

.photographers_city {
    color: rgb(127, 37, 32);
    font-size: 15px;
    margin-top: -15px;
}

.photographers_tagLine {
    margin-top: -10px;
}

.photographers_price {
    margin-top: -10px;
}

.bloc_photographer {
    padding: 2em;
    text-align: center;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.lien_photographe, .lien_tag_photographe {
    text-decoration: none;
}

.photographers_tags:hover {
    background-color: #901c1c;
    color: white;
}

@media (min-width: 1250px) {
    #bloc_main {
        flex-direction: row;
        max-width: 1200px !important;
        min-width: 1000px !important;
    }
    .bloc_photographer {
        padding: 2em;
        text-align: center;
    }
    .bloc_photographer {
        width: 20%;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1250px) and (max-width: 1450px) {
    #nav {
        font-size: 12px;
    }
}


@media (min-width: 1250px) and (max-width: 1600px) {
    .lien_logo {
        width: 25%;
    }
    .logo {
        width: 85%;
    }
}

@media (max-width: 1250px) {
    .logo {
        width: 55%;
    }
    #nav {
        margin-top: 60px;
    }
    header {
        width: 100%;
    }
    nav {
        justify-content: center;
        margin-top: 10px;
    }
    .title {
        font-size: 15px;
        right: 2em;
    }
}

@media (min-width: 1000px) {
    #bloc_main {
        flex-direction: row;
        max-width: 800px;
        min-width: 800px;
    }
}